

/* ============ RESET =============================== */

* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open sans';
	color: #777;
	font-weight: 300;
	background: #fff;
}

ul {
	list-style: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ============= HEADER ============================== */

.main-nav-container {
	min-height: 50px;
	padding: 1rem 1%;
	border: 1px solid #777;
	margin: 0 1% 16px;
}

.header-top {
	position: relative;
}	

.logo {
	position: absolute;
	top: 5px;
	left: 2%;
	width: 40px; 
	height: 40px;
	cursor: pointer;
}

/* ============= NAVIGATION =========================== */

/* ---------------------------------------------------- */
/* navicon styling only (mobile first, no show / hide ) */

.navicon {
	position: absolute;
	top: 3px;
	right: 1%; 
	width: 40px; 
	height: 40px;
	background-color: transparent;
	cursor: pointer;
}

.navicon i {
	position: absolute;
	top: 18px;
	right: 9px;
	width: 18px;
	height: 2px;
	background: #777;
	transition: all 300ms;
}

.navicon i:first-child {
	top: 12px;
	transform-origin: left center;
}

.navicon i:last-child {
	top: 24px;
	transform-origin: left center;
}	

.show-nav .navicon i:first-child + i {
	opacity: 0;
}

.show-nav .navicon i:first-child {
	transform: rotate(45deg);
}


.show-nav .navicon i:last-child {
	transform: rotate(-45deg);
}

/* ---------------------------------------------------------------------------- */
/* main-nav styles, ie top level show / hide stuff and navicon transform styles */

.main-nav {
	display: none;
} 

.show-nav .main-nav { 
	display: block;
} 

ul	{
	margin-top: 3rem; 
}

.main-nav li {
	padding-bottom: 4px;
	border-bottom: 1px solid #f2f2f2;
	margin-top: 8px;
}

.main-nav li:last-of-type {
	margin-bottom: 16px;
}

/* ---------------------------------------------------------------------------- */
/* secondary nav styles, ie child styles including secondary navicon rotate etc */

.main-nav > li { 
  position: relative;
}

.main-nav > li.menu-open .menu-toggle:after {
  transform: translate3d(-50%, -25%, 0) rotate(-135deg);
}

.main-nav > li.menu-open ul {
  display: block;
  margin-top: 0;
}

.main-nav > li .menu-toggle {
  position: absolute;
  top: 0px;
  right: 0.5%; 
  width: 25px; 
  height: 25px; 
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.main-nav > li .menu-toggle:after { 
  content: '';
  position: absolute;
  top: 11px;
  left: 50%;
  width: 11px;
  height: 11px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: 300ms transform;
  transform: translate3d(-50%, -75%, 0) rotate(45deg);
}

.main-nav > li ul { 
  display: none;
  padding: 11px 0 0 30px;
  margin-bottom: 0px;
  font-size: 90%;
}

.main-nav > li ul li {
	border-bottom: none;
}

/* -------- navigation media queries ----- */

@media screen and (min-width: 800px) {


	.logo {
		top: 13px;
		width: 50px;
		height: 50px;
	}

	.navicon {
		display: none;
	}

	.main-nav {
		display: block;
		margin-top: 0;
		margin-right: 1rem;
		float: right;
	}

	.main-nav li {
		display: inline-block;
		border: none;
		padding: 0;
		margin-left: 16px;
	}

	.menu-toggle, .menu-toggle:after {
		display: none;
	}

	.main-nav > li ul {
		position: absolute;
		top: 125%;
		display: block;
		width: 100px;
		min-height: 100px;
		padding: 0;
		border: 1px solid #ccc;
		margin: 0;
		background-color: #fff;
		visibility: visible;
		opacity: 0;
	}

	.main-nav > li:hover ul {
		visibility: visible;	
		opacity: 1;	
		z-index: 100;
	}

	.main-nav > li ul li {
		margin-left: .5rem;
	}

	.main-nav > li ul li a {
		font-size: 0.75rem;
	}
}	

/* ============ LAYOUT ================================== */

.wrap {
	padding: 0 1%;
}

#site-wrapper {
	width: 96%;
	max-width: 960px;
	padding: 8px 0;
	margin: 0 auto;
	background: #fff;
}


















